/target
.direnv
.venv
py-libcoral/train-images-idx3-ubyte.gz
py-libcoral/train-labels-idx1-ubyte.gz
py-libcoral/fashion-mnist-umap.npy
py-libcoral/remote-clique.png
py-libcoral/remote-edge.png
/docs/.quarto/
/docs/_site/
/.quarto/
/_site/
