[package]
name = "py-libcoral"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "libcoral"
crate-type = ["cdylib"]

[dependencies]
numpy = "0.21"
pyo3 = "0.21"
libcoral = {path = "../libcoral/"}
